/*-- scss:defaults --*/

$presentation-heading-color: #8994ea !default;
$body-color: #4b4b4b !default;
$presentation-font-size-root: 35px !default;

/*-- scss:rules --*/

.reveal ul ul {
  list-style-type: circle;
  font-size: 85%;
  color: lighten($body-color, 15%);
}

.hcenter {
  text-align: center;
}
.hvcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
