/*-- scss:defaults --*/

$body-color: #00326f !default;
$link-color: #0032FF !default;
$presentation-heading-color: #675AE8 !default;
$text-muted: #675AE8 !default;
$code-color: #0032FF !default;
$selection-bg: #E7D259 !default;
$presentation-font-size-root: 35px !default;
$font-family-sans-serif: Lato;

/*-- scss:rules --*/

.reveal ul ul {
  list-style-type: circle;
  font-size: 85%;
  color: lighten($body-color, 15%);
}

.hcenter {
  text-align: center;
}
.hvcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
